<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrace na letní dětský tábor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="container">
    <form class="kosik" th:action="@{/}" method="post">
        <h1>Přihláška na dětský tábor</h1>

        <label for="jmeno" class="radek">Jméno</label>
        <input id="jmeno" type="text" th:field="${registraceForm.jmeno}"/>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.jmeno')}" th:errors="${registraceForm.jmeno}"></div>

        <label for="prijmeni" class="radek">Příjmení</label>
        <input id="prijmeni" type="text" th:field="${registraceForm.prijmeni}"/>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.prijmeni')}" th:errors="${registraceForm.prijmeni}"></div>

        <label for="datumNarozeni" class="radek">Datum narození:</label>
        <input id="datumNarozeni" type="date" th:field="${registraceForm.datumNarozeni}"/>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.datumNarozeni')}" th:errors="${registraceForm.datumNarozeni}"></div>


        <div class="radek">Pohlaví:</div>
        <div class="skupina">
            <div>
                <input id="chlapec" type="radio" th:field="${registraceForm.pohlavi}" value="CHLAPEC"/>
                <label for="chlapec">chlapec</label>
            </div>
            <div>
                <input id="divka" type="radio" th:field="${registraceForm.pohlavi}" value="DIVKA"/>
                <label for="divka">dívka</label>
            </div>
        </div>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.pohlavi')}" th:errors="${registraceForm.pohlavi}"></div>


        <div class="radek">Sport:</div>
        <div class="skupina">
            <div>
                <input id="fotbal" type="checkbox" th:field="${registraceForm.sport}" value="FOTBAL"/>
                <label for="fotbal">fotbal</label>
            </div>
            <div>
                <input id="basketbal" type="checkbox" th:field="${registraceForm.sport}" value="BASKETBAL"/>
                <label for="basketbal">basketbal</label>
            </div>
            <div>
            <input id="tenis" type="checkbox" th:field="${registraceForm.sport}" value="TENIS"/>
            <label for="tenis">tenis</label>
        </div>
            <div>
                <input id="plavani" type="checkbox" th:field="${registraceForm.sport}" value="PLAVANI"/>
                <label for="plavani">plavání</label>
            </div>
            <div>
                <input id="beachvoleybal" type="checkbox" th:field="${registraceForm.sport}" value="BEACHVOLEYBAL"/>
                <label for="beachvoleybal">beachvoleybal</label>
            </div>
            <div>
                <input id="hazena" type="checkbox" th:field="${registraceForm.sport}" value="HAZENA"/>
                <label for="hazena">házená</label>
            </div>
        </div>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.sport')}" th:errors="${registraceForm.sport}"></div>

        <div class="radek">Turnus:</div>
        <div class="skupina">
            <div>
                <input id="t1" type="radio" th:field="${registraceForm.turnus}" value="PRVNI"/>
                <label for="t1">5. až 11. července (1. turnus)</label>
            </div>
            <div>
                <input id="t2" type="radio" th:field="${registraceForm.turnus}" value="DRUHY"/>
                <label for="t2">12. až 18. července (2. turnus)</label>
            </div>
            <div>
                <input id="t3" type="radio" th:field="${registraceForm.turnus}" value="TRETI"/>
                <label for="t3">19. až 25. července (3. turnus)</label>
            </div>
        </div>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.turnus')}" th:errors="${registraceForm.turnus}"></div>

        <label for="email" class="radek">E-mail na rodiče:</label>
        <input id="email" type="email" th:field="${registraceForm.email}"/>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.email')}" th:errors="${registraceForm.email}"></div>

        <label for="phone" class="radek">Telefon na rodiče:</label>
        <input id="phone" type="email" th:field="${registraceForm.telefon}"/>
        <div class="error" th:if="${#fields.hasErrors('registraceForm.telefon')}" th:errors="${registraceForm.telefon}"></div>

        <div class="radek controls">
            <button type="submit">Objednat</button>
        </div>
    </form>
</div>

</body>
</html>
